.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('mg.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 5%;
    text-align: center;
}

.title {
    font-size: clamp(2rem, 5vw, 3rem);
    color: #282c34;
}

.moves {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    margin-bottom: 10px;
    color: #282c34;
}

.board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 10px;
    width: min(90vw, 600px);
    margin: auto;
}

.card {
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    border-radius: 10px;
}

.cardContent {
    font-size: clamp(2rem, 6vw, 4rem);
    transition: transform 0.6s;
    backface-visibility: hidden;
}

.winMessage {
    margin-top: 20px;
    text-align: center;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.resetButton {
    padding: 10px 20px;
    font-size: clamp(1rem, 3vw, 1.2rem);
    color: white;
    background-color: #ff3e30;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.resetButton:hover {
    background-color: #ff1f1f;
}