.jokeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('mg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ff0000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}

.title {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

.joke {
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin: 20px 0;
    animation: fadeIn 1s ease-in-out;
    max-width: 90vw;
    width: 70%;
    cursor: pointer;
}

.jokeButton {
    background-color: rgba(255, 64, 129, 0.9);
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 8px;
    width: auto;
}

.jokeButton:hover {
    transform: scale(1.1);
    background-color: rgba(255, 64, 129, 1);
}

.loading {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-19px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}